@media screen and (max-width: 768px){
  *{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.03em;
  }
  
  b{ 
    color: #ed145b;
  }
  
  #background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('file:///C:/Users/VILHENA/HealthTrack/CSS/images/2.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      opacity: 0.8;
      filter:alpha(opacity=80);
  } 

  .purple-gradient {
    background-color: #343a40;
  }

  header{
    background-color: #e9ecef;
    text-align:center;
    height: 80px;
  }
  
  .logo{
    max-height: 80px;
    max-width: auto;
    margin-top: 0px;
  }
  
  #planos{
      position:flex;
      margin-top: 5%;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .card-body{
    background-color: silver;
  }
  
  h5{
    text-align: center;
    color: black;
  }
  
  .card-text{
    font-size: 20px;
  }
  
  .btn-primary{
    background-color: green;
  }
  
  footer{
    position: relative;
    color: #E5E5E5;
    size: 20px;
    margin-top: 30%;
    margin-right: 2px;
  }
  
  .h1cor-e{
    color: rgba(0, 0, 0, 0.76);
    margin-top: 10%;
    opacity: 1;
    z-index: 10;
    margin-left:auto;
    margin-right: auto;
  }
  
  .h1cor-a{
      background-image: url(file:///C:/Users/VILHENA/Downloads/download.png);
      text-align: center;
      color: gold;
  }
  
  .h1cor-b{
    background-image: url(file:///C:/Users/VILHENA/Downloads/download.png);
    text-align: center;
    color: gold;
  }
  
  .h1cor-c{
    background-image: url(file:///C:/Users/VILHENA/Downloads/download.png);
    text-align: center;
    color: gold;
  }
  
  .h1cor-d{
    background-image: url(file:///C:/Users/VILHENA/Downloads/download.png);
    text-align: center;
    color: gold;
  }
  
  /* O container geral define a perspectiva */  
  .flip-container { perspective: 1000; }  	
  
  /* vira os containers frente e verso quando o mouse passa em cima */
  .flip-container:hover .flipper, .flip-container.hover .flipper {  		
    transform: rotateY(180deg);  	
  }    
  .flip-container, .front, .back {  	
    width: 200px;  	
    height: 70px;  
  }
  
  /* define a velocidade da transição */
  .flipper {  	
    transition: 0.6s;  	
    transform-style: preserve-3d;    	
    position: relative;  
  }
      
  /* esconde o verso durante a animação */
  .front, .back {  	
    background-image: linear-gradient(to bottom,silver,black);
    backface-visibility: hidden;    	
    position: absolute;  	
    top: 0;  	
   left: 0;  
  }
      
  /* frente posicionada sobre o verso */
  .front { z-index: 2;  }    
  
  /* verso inicialmente escondido */
  .back { transform: rotateY(180deg); }
}

@media screen{
*{
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.03em;
}

b{ 
	color: #ed145b;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('file:///C:/Users/VILHENA/HealthTrack/CSS/images/2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    filter:alpha(opacity=80);
}

.purple-gradient{
    background-image: linear-gradient(40deg,#ff6ec4,#7873f5);
}

header{
	background-color: #e9ecef;
	text-align:center;
	height: 80px;
}

.logo{
	max-height: 80px;
	max-width: auto;
	margin-top: 0px;
}

#planos{
    position:flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    
}

.card-body{
  background-color: silver;
}

h5{
  text-align: center;
  color: black;
  margin-top: 10%;
  margin: auto;
}

.card-text{
  font-size: 20px;
}

.btn-primary{
  background-color: green;
}

footer{
	position: relative;
	color: #E5E5E5;
	size: 20px;
	margin-top: 30%;
	margin-right: 2px;
}

.col-12{
  text-align: center;
  margin-top: 5%;
}

.h1cor-e{
  color: rgba(0, 0, 0, 0.76);
  min-height: 5%;
  z-index: 10;
}

.h1cor-a{
    background-image: url(file:///C:/Users/VILHENA/Downloads/download.png);
    text-align: center;
    color: gold;
}

.h1cor-b{
  background-image: url(file:///C:/Users/VILHENA/Downloads/download.png);
  text-align: center;
  color: gold;
}

.h1cor-c{
  background-image: url(file:///C:/Users/VILHENA/Downloads/download.png);
  text-align: center;
  color: gold;
}

.h1cor-d{
  background-image: url(file:///C:/Users/VILHENA/Downloads/download.png);
  text-align: center;
  color: gold;
}

/* O container geral define a perspectiva */  
.flip-container { perspective: 1000; }  	

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .flipper, .flip-container.hover .flipper {  		
  transform: rotateY(180deg);  	
}    
.flip-container, .front, .back {  	
  width: 295px;  	
  height: 340px;  
}

/* define a velocidade da transição */
.flipper {  	
  transition: 0.6s;  	
  transform-style: preserve-3d;    	
  position: relative;  
}
    
/* esconde o verso durante a animação */
.front, .back {  	
  background-image: linear-gradient(to bottom,silver,black);
  backface-visibility: hidden;    	
  position: absolute;  	
  top: 0;  	
 left: 0;  
}
    
/* frente posicionada sobre o verso */
.front { z-index: 2;  }    

/* verso inicialmente escondido */
.back { transform: rotateY(180deg); }

}